<div class="tab-bg-nav">
	<nav class="que-list-tab">
		<a class="current" href="javascript:;">优惠券</a>
		<a class="">积分</a>
		<a class="active">个人信息</a>
	</nav>
</div>
<section class="content-list">
	<div <{if $id == 0}>class="current"<{/if}>>
		<{foreach from=$优惠券 item=value key=keyz}>
			<a href="<{url action=topwap_ctl_member@otherDetail article_id=$value.article_id}>"><p><{$value.title}><i></i></p></a>
		<{/foreach}>
	</div>	
	<div <{if $id == 1}>class="current"<{/if}>>
		<{foreach from=$积分 item=value key=keyz}>
			<a href="<{url action=topwap_ctl_member@otherDetail article_id=$value.article_id}>"><p><{$value.title}><i></i></p></a>
		<{/foreach}>
	</div>	
	<div <{if $id == 2}>class="current"<{/if}>>
		<{foreach from=$个人信息 item=value key=keyz}>
			<a href="<{url action=topwap_ctl_member@otherDetail article_id=$value.article_id}>"><p><{$value.title}><i></i></p></a>
		<{/foreach}>
	</div>
</section>
<footer>
	
</footer>