<style>
	body {
		background: #fff;
	}
</style>
<div class="answer">
	<{$article.content}>
</div>
<div class="customer_tab customer">
	<h2 class="tit">没有解决您的问题?</h2>
	<ul class="customer-list" id="manual-customer">
		<li class="kf">
			<a href=""><i class="left"></i>在线客服<span>每天9:00 — 21:00</span><i class="right"></i></a>
		</li>
		<li class="phone">
			<a href="tel:<{$phone = app::get('site')->getConf('system.site_phone')}>" phone="tel:<{$phone = app::get('site')->getConf('system.site_phone')}>"><i  class="left"></i>电话客服<span><{$phone = app::get('site')->getConf('system.site_phone')}></span><i class="right"></i></a>
		</li>
	</ul>
</div>
