<{if $type eq popular}>
	 <div class="styleList">
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad5.jpg" alt=""></a>
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad6.jpg" alt=""></a>
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad7.jpg" myName="<{$env.base_full_url}>/themes/jmmobilemall/images/a1Big.jpg" alt="a1.jpg"></a>
    </div>
<{elseif $type eq quality}>
	<div class="styleList">
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad8.jpg" alt=""></a>
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad9.jpg" alt=""></a>
      <a href="<{url action=topwap_ctl_item_list@index kname=女装 cat_id=427 type=more}>"><img src="<{$env.base_full_url}>/themes/jmmobilemall/images/ad10.jpg" alt=""></a>
    </div>
<{/if}>