<div id="offCanvasWrapper" class="shopex-off-canvas-wrap shopex-draggable shopex-slide-in">
    <!--菜单部分-->
    <aside id="offCanvasSide" class="shopex-off-canvas-right goods-list-filters">
      <{include file="topwap/shop/shop_cat.html"}>
    </aside>
    <div class="shopex-inner-wrap">
      <div class="shopex-bar">
        <header class="home-header redheader">
          <i class="icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
          <div class="main">
            <form action="<{url action=topwap_ctl_shop_list@index shop_id=$shopId}>" method="post" id="goods_search">
              <div class="shopex-input-row header-search-form"><i class="icon-search"></i><input type="search" name="search_keywords" class="header-search shopex-input-clear"   value="搜索店铺内商品"></div>
            </form>
            <!-- value="<{$search_keywords}>" -->
          </div>
          <!-- <a id="offCanvasBtn" href="#offCanvasSide" class="icon-func bbc-icon bbc-icon-submenu"></a> -->
          <a href="#minimenu" class="icon-func bbc-icon bbc-icon-more-vertical btn-mini-menu"></a>
        </header>
      </div>

      <section id="offCanvasContentScroll" class="container shopex-scroll-wrapper">
        <div class="shopex-scroll">

          <section class="shopTop">
            <{include file="topwap/shop/shop.html"}>
          </section>
          <!--产品show 开始-->
          <section>
            <div class="product">
              <div class="productTop ub">
                <span class="ub-f1">1折特卖</span>
                <span class="ub-f1">全场包邮</span>
                <span class="ub-f1">7天无理由退货</span>
                </div>
                <div class="productBtm">
                  <ul class="list clearfix">
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>          
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>          
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>                     <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>                     
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>                     
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>                     
                    <li>
                      <a href="javascript:void(0);">
                        <div class="pro-img">
                          <span>
                            <img src="http://z3.tuanimg.com/imagev2/trade/600x600.e34fae284a9bed91cff4b22143ad8fbb.380x380.jpg" alt="鑫科双电机懒人运动甩脂机">
                          </span>
                        </div>
                        <div class="pro-info">
                            <div class="attr">
                                <span class="price">¥95</span>
                                <del>¥468</del>
                            </div>
                            <h2 class="title">
                                <strong class="pad10 nowrap">鑫科双电机懒人运动甩脂机</strong> 
                            </h2>
                        </div>
                      </a>
                    </li>          
                  </ul>
              </div>
            </div>
          </section>
          <!--产品show 结束-->
<!--           <section class="section-white">
            <{include file="topwap/shop/shop_coupon.html"}>
          </section> -->

<!--           <section class="shopex-slider" id="slider">
            <{include file="topwap/shop/slider.html"}>
          </section> -->

<!--           <section class="widgets-goods-like section-white">
            <{include file="topwap/shop/item.html"}>
          </section> -->
        </div>
      </section>

      <!-- off-canvas backdrop -->
      <div class="shopex-off-canvas-backdrop"></div>
    </div>
</div>

<div id="minimenu" class="bbc-mini-menu shopex-popover">
  <div class="shopex-popover-arrow"></div>
  <div>
    <ul class="shopex-table-view">
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_default@index}>"><i class="bbc-icon bbc-icon-home-empty"></i> 首页</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_category@index}>"><i class="bbc-icon bbc-icon-category"></i> 分类</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_cart@index}>"><i class="bbc-icon bbc-icon-cart-empty"></i> 进货车</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_member@index}>"><i class="bbc-icon bbc-icon-user-empty"></i> 会员</a>
      </li>
    </ul>
  </div>
</div>

<{script src="shopex.lazyload.js" app="topwap"}>
<{script src="shopex.lazyload.img.js" app="topwap"}>
<script>
  var gallery = shopex("#slider");
  gallery.slider({
    interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
  });
  shopex.init({
    swipeBack: false,
  });
  //侧滑容器父节点
  var offCanvasWrapper = shopex('#offCanvasWrapper');
  //主界面容器
  var offCanvasInner = offCanvasWrapper[0].querySelector('.shopex-inner-wrap');
  //菜单容器
  var offCanvasSide = document.getElementById("offCanvasSide");
  //Android暂不支持整体移动动画
  // if (!shopex.os.android) {
  //   document.getElementById("move-togger").classList.remove('shopex-hidden');
  //   var spans = document.querySelectorAll('.android-only');
  //   for (var i = 0, len = spans.length; i < len; i++) {
  //     spans[i].style.display = "none";
  //   }
  // }
  //移动效果是否为整体移动
  var moveTogether = false;
  //侧滑容器的class列表，增加.shopex-slide-in即可实现菜单移动、主界面不动的效果；
  var classList = offCanvasWrapper[0].classList;
  //变换侧滑动画移动效果；
  shopex('.shopex-input-group').on('change', 'input', function() {
    if (this.checked) {
      offCanvasSide.classList.remove('shopex-transitioning');
      offCanvasSide.setAttribute('style', '');
      classList.remove('shopex-slide-in');
      classList.remove('shopex-scalable');
      switch (this.value) {
        case 'main-move':
          if (moveTogether) {
            //仅主内容滑动时，侧滑菜单在off-canvas-wrap内，和主界面并列
            offCanvasWrapper[0].insertBefore(offCanvasSide, offCanvasWrapper[0].firstElementChild);
            moveTogether = false;
          }
          break;
        case 'main-move-scalable':
          if (moveTogether) {
            //仅主内容滑动时，侧滑菜单在off-canvas-wrap内，和主界面并列
            offCanvasWrapper[0].insertBefore(offCanvasSide, offCanvasWrapper[0].firstElementChild);
          }
          classList.add('shopex-scalable');
          break;
        case 'menu-move':
          classList.add('shopex-slide-in');
          break;
        case 'all-move':
          moveTogether = true;
          //整体滑动时，侧滑菜单在inner-wrap内
          offCanvasInner.insertBefore(offCanvasSide, offCanvasInner.firstElementChild);
          break;
      }
      offCanvasWrapper.offCanvas().refresh();
    }
  });
  // document.getElementById('offCanvasShow').addEventListener('tap', function() {
  //   offCanvasWrapper.offCanvas('show');
  // });
  // document.getElementById('offCanvasHide').addEventListener('tap', function() {
  //   offCanvasWrapper.offCanvas('close');
  // });
  //主界面和侧滑菜单界面均支持区域滚动；
  shopex('#offCanvasSideScroll').scroll();
  shopex('#offCanvasContentScroll').scroll();
  //实现ios平台的侧滑关闭页面；
  if (shopex.os.plus && shopex.os.ios) {
    offCanvasWrapper[0].addEventListener('shown', function(e) { //菜单显示完成事件
      plus.webview.currentWebview().setStyle({
        'popGesture': 'none'
      });
    });
    offCanvasWrapper[0].addEventListener('hidden', function(e) { //菜单关闭完成事件
      plus.webview.currentWebview().setStyle({
        'popGesture': 'close'
      });
    });
  }

  shopex('body').on('shown', '.shopex-popover', function(e) {
    //console.log('shown', e.detail.id);//detail为当前popover元素
  });
  shopex('body').on('hidden', '.shopex-popover', function(e) {
    //console.log('hidden', e.detail.id);//detail为当前popover元素
  });

  $('body').on('tap', function(e){
    $('body').removeClass('bbc-no-backdrop');
  })

  $('body').on('tap', '.btn-mini-menu', function(){
    $('body').addClass('bbc-no-backdrop');
  })

  $('#shop_collect').on('tap',function(){
    var shop_id = $(this).data('shopid');
    var $this = $(this);
    $.post('<{url action=topwap_ctl_member_favorite@ajaxAddShopCollect}>',{'shop_id':shop_id},function(rs){
      if(rs.redirect){
        location.href = rs.redirect;
      }else{
        shopex.alert(rs.message);
        if(rs.success){
          $this.addClass('has-favorited');
          $this.find('i').removeClass('bbc-icon-star-empty').addClass('bbc-icon-faverite');
          $this.find('span').html('已收藏');
        }
      }
    })
  })

  $('.shopex-scroll').on('tap','li',function(){
    var link = $(this).data('link');
    if(link){
      location.href = link;
    }
  });

  $('#offCanvasContentScroll').on('tap', 'a', function() {
    window.location.href = $(this).attr('href');
  });

  // shopex(document).imageLazyload({
  //   placeholder: '../images/60x60.gif'
  // });  
      var d_Value=$('input').val();//获取到他的默认的值
    $('input').focus(function(){
        if($(this).val()==d_Value){
        $(this).val("");//当前输入框的值设置为空
        }
    });
    //失去焦点
    $('input').blur(function(){
        if($(this).val()==""){
        $(this).val(d_Value);//给他赋他的初始值
        }
    });
</script>
